*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-black: #000000;
  --basic-brown: #766357;
  --basic-gray: #888888;
  --basic-light-grey: #e5e5e5;

  --special-blue: #669ec0;
  --special-dark-blue: #5496bd;
  --special-brown: #604e43;
  --special-dark-brown: #503e33;
  --special-background-gray: #f2f2f2;
  --special-gray: #eeeeee;
  --special-gray-logohtml: #bdbbbc;
  --special-hotel-rating: #666666;
  --special-cursor-gray: #cacaca;
  --special-calendar-gray: #a9a9a9;
  --special-data-gray: #ebebeb;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--special-background-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  min-height: 100%;
}

.box-shadow {
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.header {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

.navigation {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  min-height: 56px;
  width: 1200px;
}

.logo {
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 138px;
  height: 71px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav-list ul {
  margin: 0;
}

.nav-list li {
  width: 240px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-list li:first-child {
  padding-left: 72px;
}

.nav-list li:nth-child(2) {
  margin-right: 240px;
}

.nav-list li:nth-child(2),
.nav-list li:nth-child(3) {
  text-align: center;
}

.nav-list li:last-child {
  padding-right: 72px;
  text-align: right;
}

.nav-list a {
  color: var(--basic-black);
}

.nav-list a:hover {
  color: var(--basic-blue);
}

.nav-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.nav-list .nav-active {
  color: var(--basic-brown);
}

/* main */

.main {
  width: 1200px; /* нужно ли вообще писать ширину и маргин здесь? */
  margin: 0 auto;
  background-color: var(--basic-white);
}

.intro-photo {
  position: relative;
  width: 1200px;
  min-height: 509px;
  background: url('../img/background-photo.jpg') no-repeat 50% 50%;
  background-color: var(--basic-gray);
}

.intro-photo img:first-child {
  position: absolute;
  margin: 0;
  padding: 77px 370px;
}

.intro-photo::after {
  content: url('../img/white.svg');
  background-repeat: no-repeat;
  position: absolute;

  width: 1200px;
  height: 57px;
  margin-top: 454px;
}

.intro {
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  width: 1200px;

  margin: 0;
  padding-top: 43px;
  padding-bottom: 51px;
}

.title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;

  margin: 0;
  padding-left: 360px;
  padding-right: 360px;
  padding-bottom: 51px;
}

.intro p {
  margin: 0;
  padding: 0;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.advantages-item {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-align: center;
  width: 400px;
  margin: 0;
  padding-top: 47px;
}

.advantages-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  padding-left: 139px;
  padding-right: 139px;
}

.advantages-item:nth-child(2) h2:nth-child(1) {
  padding: 0;
}

.advantages-number {
  display: inline-block;
  vertical-align: inherit;
  padding-top: 25px;
  padding-bottom: 23px;
}

.advantages-item p {
  margin: 0;
  padding-left: 51px;
  padding-right: 51px;
}

.advantages-image {
  display: flex;
  background-color: var(--basic-gray);
  width: 800px;
  min-height: 256px;
  margin: 0;
}

.advantages-item-background {
  background-color: var(--special-gray);
  text-align: center;
  width: 400px;
  margin: 0;
  padding: 0;
  padding-top: 47px;
  padding-bottom: 54px;
}

.advantages-item-background p {
  padding: 0 60px;
  margin: 0;
}
.advantages-item-background:nth-child(3) p:nth-child(3) {
  padding: 0 75px;
}

.features {
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.features-item {
  padding: 160px 65px 82px;
  margin: 0;
  width: 400px;
}

.features-item:first-child {
  background-image: url('../img/icon-1.svg');
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.features-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
}

.features-item p {
  margin: 0;
}

.features-item:nth-child(2) {
  background-image: url('../img/icon-2.svg');
  background-repeat: no-repeat;
  background-position: 50% 60px;
}
.features-item:last-child {
  background-image: url('../img/icon3.svg');
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

/* Заинтересовались? */

.intersted {
  text-align: center;
  padding-top: 57px;
  padding-bottom: 35px;
}

.intersted-title {
  font-size: 30px;
  line-height: 24px;
  margin: 0;
}

.intersted p {
  padding-top: 30px;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

/* форма */

.form-hotel-index {
  position: relative;
}

.button {
  display: inline-block;
  vertical-align: baseline;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  width: 568px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  outline: none; /* если оставить обводку, то она некрасиво горит и после нажатия */
  cursor: pointer;
  margin: 0 316px;
  padding: 30px;
}

.button:hover {
  background-color: var(--special-brown);
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--special-dark-brown);
}


.hotel-search {
  display: flex;
  position: absolute;
  z-index: 1;

  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  background-color: var(--basic-white);
  width: 568px;
  padding: 55px;

}

.form-search {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none;

  background-color: var(--basic-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.date-search {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}

.date-search label:first-child {
  margin-bottom: 29px;
}
.date-search label:nth-child(2) {
  margin-bottom: 30px;
}

.date-search input {
  border: none;
  outline: none;
  background-color: var(--special-background-gray);
  font: inherit;
  text-transform: uppercase;
  font-weight: bold;
  width: 346px;
  height: 38px;
  text-align: left;
}

.checkin-date {
  padding-left: 13px;
  margin-left: 20px;
}

.label-checkin-date svg {
  position: absolute;
  fill: var(--special-calendar-gray);
  left: 430px;
  top: 8px;
}

.checkout-date {
  padding-left: 12px;
  margin-left: 16px;
} 
.label-checkout-date svg {
  position: absolute;
  fill: var(--special-calendar-gray);
  left: 430px;
  bottom: 38px;
}

.date-search input:hover {
  background-color: var(--special-data-gray);
}
.date-search input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-light-grey)
}



.date-search svg:hover {
  fill: var(--basic-black);
}
.date-search svg:active {
  fill: var(--basic-blue);
}



.number-search {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 54px;
  width: 100%;
}

.number-search input {
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--special-background-gray);
  outline: none; /* и тут */

  font: inherit;
  text-transform: uppercase;
  font-weight: bold;
  width: 114px;
  height: 38px;
  text-align: center;
}

.adult input {
  margin-left: 36px;
}
.child input {
  margin-left: 25px;
}

.number-search button {
  position: absolute;
  border: none;

}


.adult svg {
  position: absolute;
  fill: var(--special-calendar-gray);
  left: 124px;
  bottom: 17px;
}
.adult svg:nth-child(3) {
  margin-left: 75px;
  bottom: 13px;
}
.child svg {
  position: absolute;
  fill: var(--special-calendar-gray);
  left: 355px;
  bottom: 17px;
}

.child svg:nth-child(3) {
  margin-left: 75px;
  bottom: 13px;
}

.number-search svg:hover {
  fill: var(--basic-black);
}
.number-search svg:active {
  fill: var(--basic-blue);
}

.form-search .submit {
  color: var(--basic-white);
  background-color: var(--basic-blue);

  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  outline: none; /* убрать?*/
  cursor: pointer;

  width: 100%;
  padding-top: 15px;
  padding-bottom: 16px;
}

.submit:hover {
  background-color: var(--special-blue);
}

.submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--special-dark-blue);
}

.map {
  background-image: url('../img/map.png');
  background-color: var(--basic-gray);
  width: 1200px;
  height: 594px;
}

/* footer */

.footer {
  position: relative;
  margin: 0;
}

.footer-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  bottom: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  color: var(--basic-black);
  background: rgba(255, 255, 255, 0.9);
  width: 1200px;
  min-height: 120px;
}

.footer-hotels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  color: var(--basic-black);
  background: var(--basic-white);
  width: 1200px;
  min-height: 120px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 23px;
  padding-left: 117px;
}

.contact a {
  text-decoration: none;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 35px;
}

.social ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 36px 0;
}

.social-network a {
  text-decoration: none;
  background-color: var(--basic-blue);
  width: 46px;
  height: 46px;
  position: relative;
  display: block;
}

.social-network svg {
  fill: var(--basic-white);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social-network li:nth-child(even) {
  margin: 0 6px;
}

.social a:hover {
  background-color: var(--special-blue);
}

.social a:focus {
  background-color: var(--special-dark-blue);
}

.website {
  display: flex;
  justify-content: center;
  padding-top: 38px;
}

.website p {
  padding: 0;
  padding-right: 8px;
}

.website svg {
  fill: var(--basic-black);
}

.website svg:hover {
  fill: var(--basic-blue);
}

.website svg:active {
  fill: var(--special-gray-logohtml);
}

/* hotels */

.checkbox-background {
  background-color: var(--basic-gray);
  background-image: url('../img/background-hotel.png');
  background-repeat: no-repeat;
  margin: 0;
  width: 1200px;
  min-height: 217px;
  display: flex;
}

.checkbox-comfort {
  border: none;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
}

.title-options {
  color: var(--basic-white);
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.checkbox-infra,
.checkbox-hotel,
.parameters-cost {
  padding-top: 26px;
}

.checkbox-comfort ul {
  list-style: none;
  padding: 0;
  padding-top: 3px;
}

.checkbox-comfort li:not(:first-child) {
  padding-top: 25px;
}

.checkbox-infra {
  padding-left: 61px;
}

.checkbox-hotel {
  padding-left: 100px;
}

.check {
  padding-left: 35px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-box {
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url('../img/checkbox-on.svg');
  margin-left: -38px;
}

.check-input:checked + .check-box {
  background-image: url('../img/checkbox-check-on.svg');
}

.check-input:disabled + .check-box {
  background-image: url('../img/checkbox-disabled.svg');
}

.check-input:checked:disabled + .check-box {
  background-image: url('../img/checkbox-check-disabled.svg');
}

.parameters-cost {
  position: relative;
  padding-left: 293px;
}

.cost {
  border: none;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
}

.cost-input {
  outline: none;
  border: none;
  text-align: center;
  font: inherit;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: inherit;
  margin: 0;
  padding: 0;
}

.number-cost {
  display: flex;
  justify-content: center;
  border: 2px solid;
  max-width: 224px;
  margin-top: 10px;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 52px;
  padding-right: 36px;
}

.number-cost::before {
  position: absolute;
  content: url('../img/white-line.svg');
  z-index: 1;
  width: 2px;
  height: 22px;
  right: 122px;
}

.sorting-search {
  display: flex;
  position: relative;

  background-color: var(--basic-white);
  color: var(--basic-blac);
  font-size: 12px;
  line-height: 18px;
  width: 1200px;

  border-bottom: 2px solid var(--special-background-gray);
}

.sorting-section {
  display: flex;
  padding-left: 73px;
}

.sorting-title {
  list-style: none;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  margin-top: 29px;
  margin-bottom: 31px;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  padding-top: 31px;
  padding-left: 46px;
}

.sorting-search ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 31px;
  padding-left: 40px;
}

.sorting-search li {
  padding-right: 32px;
}

.sorting-section a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-blue);
}
.sorting-section a:hover {
  color: var(--basic-blue);
  border-bottom: 1px dotted var(--basic-blue);
}

.sorting-section a:active {
  color: var(--basic-black);
  border: none;
}

.sorting-section .hotel-active {
  color: var(--basic-blue);
  border: none;
}

.cursor a {
  position: absolute;
  right: 73px;
  bottom: 36px;
}
.cursor svg {
  fill: var(--special-cursor-gray);
}

.cursor-up {
  width: 11px;
  height: 10px;
  margin-right: 23px;
}

.cursor-down {
  width: 11px;
  height: 10px;
}

.cursor svg:hover {
  fill: var(--basic-black);
}

.cursor svg:active {
  fill: var(--basic-blue);
}

.cursor-down svg {
  fill: var(--basic-blue);
}

/* как правильно сделать кнопку активной? */

/* выбор отелей */

.hotels {
  width: 1200px;
  flex-wrap: wrap;
}

.hotels-item {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid var(--special-background-gray);
}

.hotels-item span {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.hotel-image {
  background-color: var(--basic-gray);
  width: 135px;
  height: 90px;
  margin: 30px 29px 30px 73px;
}

.hotels-description a {
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotels-description h2 {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  min-width: 100%;
}

.hotel-name a:hover {
  color: var(--basic-blue);
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-description {
  display: flex;
  flex-wrap: wrap;
}

.hotel-details-buttons {
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
}

.hotel-reserv-buttons {
  display: flex;
  flex-direction: column;
  padding-left: 6px;
}

.hotel-details-buttons a {
  display: inline-block;
  width: 110px;
  min-height: 27px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-transform: uppercase;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding-top: 3px;
  margin-top: 15px;
}

.hotel-details-buttons a:hover {
  background-color: var(--special-blue);
}

.hotel-details-buttons a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--special-dark-blue);
}

.hotel-reserv-buttons a {
  display: inline-block;
  width: 142px;
  min-height: 27px;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  text-transform: uppercase;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding-top: 3px;
  margin-top: 15px;
}

.hotel-reserv-buttons a:hover {
  background-color: var(--special-brown);
}

.hotel-reserv-buttons a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--special-dark-brown);
}

.hotels-rating img {
  margin: 0px;
  padding: 1px;
}

.hotels-rating span {
  display: inline-block;
  width: 110px;
  height: 27px;
  color: var(--special-hotel-rating);
  background-color: var(--special-background-gray);
  text-align: center;
  padding-top: 3px;
}
