:root {
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-black: #000000;
  --basic-brown: #766357;
  --basic-gray: #888888;
  --basic-light-grey: #e5e5e5;

  --special-blue: #669ec0;
  --special-dark-blue: #5496bd;
  --special-brown: #604e43;
  --special-dark-brown: #503e33;
  --special-gray: #eeeeee;

}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.header {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* nav */

.navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  min-height: 56px;
  width: 1200px;
}

.logo {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 138px;
  height: 71px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 100%;
  margin: 0 72px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-list li {
  width: 240px;
}

.nav-list li:first-child {
  padding-right: px; 
}

.nav-list li:nth-child(2) {
  margin-right: 220px;
}

.nav-list a {
  color: var(--basic-black);
}

.nav-list a:hover {
  color: var(--basic-blue);
}

.nav-list a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* main */

.main {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.intro-photo {
  width: 1200px;
  min-height: 510px;
  background: url('../img/background-photo.jpg') no-repeat;
}

/* лого с буквами что т не получается отцентровать*/
/* url('../img/white.svg') width="1200" height="57" alt="" */

.intro {
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  min-height: 80px;
  text-align: center;
  padding: 0;
  padding-top: 42px;
  margin: 0;
}

.intro p {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 52px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.advantages-item {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  flex-direction: column;
  text-align: center;
  min-height: 256px;
  width: 400px;
  margin: 0;
}

.advantages-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  padding-top: 47px;
  margin: 0;
}

.advantages-number {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 23px;
}

.advantages-item p {
  margin: 0;
}

.advantages-image {
  display: flex;
  background-color: var(--basic-gray);
  width: 800px;
  min-height: 256px;
  margin: 0;
}

.features {
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1200px;
  max-height: auto;
  margin: 0;
  padding: 0;
}

.features-item {
  margin: 0;
  padding: 0;
}

.features-item-house {
  background-image: url('../img/icon-1.svg');
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  padding-left: 0px;
  padding-right: 0px;
}

.features-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.features-item-house .features-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding-left: 5px;
}

.features-item-house p {
  margin: 0;
  padding: 0;
  padding-right: 0px;
}

.features-item-food {
  background-image: url('../img/icon-2.svg');
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  padding-left: 0px;
  padding-right: 10px;
}
.features-item-souvenir {
  background-image: url('../img/icon3.svg');
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  padding-left: 0px;
  padding-right: 10px;
}

/* здесь полный швах, не понимаю, как их все уровнять в кучу */
.advantages .advantages-item-background { 
  background-color: var(--special-gray);
  text-align: center;
  max-height: 256px;
  margin: 0;
  padding: 0;
}
.advantages .advantages-item-background:first-child,
.advantages .advantages-item-background:nth-child(2),
.advantages .advantages-item-background:last-child {
  max-height: 256px;
  width: 400px;
  margin: 0;
  padding: 0;
}

/*.advantages .advantages-item-background:first-child {
  max-height: 256px;
  width: 400px;
  margin: 0;
  padding: 0;
}

.advantages .advantages-item-background:nth-child(2) {
  max-height: 256px;
  width: 400px;
  margin: 0;
  padding: 0;
}

.advantages .advantages-item-background:last-child {
  max-height: 256px;
  width: 400px;
  margin: 0;
  padding: 0;
}*/


.advantages-item-background p {
  padding: 0;
  margin: 0;
  align-items: center;
  padding-bottom: 54px;
}
/* как растянуть серый фон во всю? */

.intersted {
  text-align: center;
  padding-top: 57px;
}

.intersted p {
  padding-top: 10px;
}

.button {
  display: inline-block;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  border: none;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  position: relative;
} /* стили на кнопку не повлияли вообще */

.hotel-search {
  display: flex;
  max-width: 568px;
  justify-content: center;
}

.form-search {
  position: absolute;
  border: none;
  background-color: var(--basic-white);
  font-weight: bold;
  max-width: 568px;
  padding: 0;
  margin: 0;
  left: 315px;
}
/* footer */

.footer {
  color: var(--basic-black);
  background: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 120px;
  width: 1200px;
  margin: 0 auto;
}

.contact {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 117px;
  padding-bottom: 36px;
  padding-top: 18px;
  margin: 0;
}

.contact a {
  text-decoration: none;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding-top: 9px;
}

.social ul {
  width: 46px;
  height: 48px;
  /* */
}

.social-network {
  list-style: none;
  background-color: var(--basic-blue);
  width: 150px;
  margin: 0 auto;
}

.social a:hover {
  background-color: var(--special-blue);
}
.social a:focus {
  background-color: var(--special-dark-blue);
}

.website {
  display: flex;
  justify-content: center;
  max-width: 197px;
  margin: auto;
}

.website p {
  font-size: 14px;
  line-height: 26px;
  padding-right: 8px;
}

.website a:hover {
  background-color: var(--basic-blue);
}

.website a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* hotels */

.checkbox-background {
  background-color: var(--basic-gray);
  background-image: url('background-hotel.png');
}

.checkbox-comfort {
  list-style: none;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
}

.title-options {
  color: var(--basic-white);
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

/* .parameters-cost
.cost
.number-cost
.range-cost
.button-cost
 здесь форма */

.sorting-search {
  background-color: var(--basic-white);
  color: var(--basic-blac);
  font-size: 12px;
  line-height: 18px;
}

.sorting-title {
  list-style: none;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.cursor {
  list-style: none;
}

.hotels {
  border-top: 1px var(--basic-light-grey);
  border-bottom: 1px var(--basic-light-grey);
}

/*.hotels-item {} */

.hotel-image {
  border-color: var(--basic-gray);
  padding: 30px;
}

/* .hotels-description {} */

/* .hotels-rating {} */
/* span */

/* я запуталась=((( */
