:root {
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-black: #000000;
  --basic-brown: #766357;
  --basic-gray: #888888;
  --basic-light-grey: #e5e5e5;

  --special-blue: #669ec0;
  --special-dark-blue: #5496bd;
  --special-brown: #604e43;
  --special-dark-brown: #503e33;
  --special-background-gray: #f2f2f2;
  --special-gray: #eeeeee;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.box-shadow {
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.header {
  width: 1200px;
  margin: 0 auto;
}

/* nav 0px 5px 15px rgba(0, 1, 1, 0.2); */

.navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  min-height: 56px;
  width: 1200px;
}

.logo {
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 138px;
  height: 71px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 100%;
  margin: 0 84px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-list li {
  width: 240px;
}

.nav-list li:nth-child(2) {
  margin-right: 260px;
}

.nav-list a {
  color: var(--basic-black);
}

.nav-list a:hover {
  color: var(--basic-blue);
}

.nav-list a:focus {
  color: var(--basic-brown);
}

.nav-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* main */

.main {
  width: 1200px;
  margin: 0 auto;
}

.intro-photo {
  position: relative;
  width: 1200px;
  min-height: 510px;
  background: url('../img/background-photo.jpg') no-repeat 50% 50%;
}

.intro-photo img:first-child {
  position: absolute;
  margin: 0;
  padding: 77px 370px;
}

.intro-photo::after {
  content: url('../img/white.svg');
  background-repeat: no-repeat;
  position: absolute;
  width: 1200px;
  height: 57px;
  margin-top: 454px;
}

.intro {
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  min-height: 80px;
  text-align: center;
  margin: 0;
  margin-top: 43px;
  padding: 0;
}

.intro p {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 52px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.advantages-item {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  flex-direction: column;
  text-align: center;
  min-height: 256px;
  width: 400px;
  margin: 0;
}

.advantages-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  padding-top: 47px;
  margin: 0;
}

.advantages-number {
  display: inline-block;
  vertical-align: inherit;
  padding-top: 25px;
  padding-bottom: 23px;
}

.advantages-item p {
  margin: 0;
}

.advantages-image {
  display: flex;
  background-color: var(--basic-gray);
  width: 800px;
  min-height: 256px;
  margin: 0;
}

.features {
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1200px;
  max-height: auto;
  margin: 0;
  padding: 0;
}

.features-item {
  margin: 0 auto;
}

.features-item:first-child {
  background-image: url('../img/icon-1.svg');
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.features-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  padding-top: 160px;
  padding-bottom: 25px;
}

.features-item p {
  margin: 0;
  padding-bottom: 82px;
}

.features-item:nth-child(2) {
  background-image: url('../img/icon-2.svg');
  background-repeat: no-repeat;
  background-position: 50% 60px;
}
.features-item:last-child {
  background-image: url('../img/icon3.svg');
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.advantages .advantages-item-background {
  background-color: var(--special-gray);
  text-align: center;
  max-height: 256px;
  margin: 0;
  padding: 0;
}
.advantages .advantages-item-background:first-child,
.advantages .advantages-item-background:nth-child(2),
.advantages .advantages-item-background:last-child {
  width: 400px;
  margin: 0;
  padding: 0;
}

.advantages-item-background p {
  padding: 0;
  margin: 0;
  align-items: center;
  padding-bottom: 54px;
}

/* Заинтересовались? */

.intersted {
  text-align: center;
  padding-top: 57px;
}

.intersted-title {
  font-size: 30px;
  line-height: 24px;
  margin: 0;
}

.intersted p {
  padding-top: 30px;
  padding-bottom: 35px;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.button {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  width: 568px;
  height: 86px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.button:hover {
  outline: none;
  background-color: var(--special-brown);
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--special-dark-brown);
}

/* форма */

.hotel-search {
  display: flex;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.form-search {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none;

  background-color: var(--basic-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  width: 568px;
  min-height: 395px;
  padding: 0;
  margin: 0;
}

.date-search {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding-top: 55px;
  padding-left: 55px;
}

.date-search label:first-child {
  padding-bottom: 29px;
  padding-right: 30px;
}

.date-search input {
  border: none;
  outline: none;
  background-color: var(--special-background-gray);
  font: inherit;
  text-transform: uppercase;
  font-weight: bold;
  width: 346px;
  height: 38px;
  text-align: left;
  margin-left: 20px;
}

.number-search {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 50px;
  padding-top: 30px;
}

.number-search input {
  margin: 0;
  padding: 0;
  margin-left: 45px;
  border: none;
  background-color: var(--special-background-gray);
  outline: none;

  font: inherit;
  text-transform: uppercase;
  font-weight: bold;
  width: 114px;
  height: 38px;
  text-align: center;
}
.form-search button {
  position: absolute;
  display: inline-block;
  vertical-align: baseline;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  width: 458px;
  height: 58px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  outline: none;
  cursor: pointer;

  left: 55px;
  bottom: 55px;
}

.form-search button:hover {
  background-color: var(--special-blue);
}

.form-search button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--special-dark-blue);
}

/* footer */
.footer {
  position: relative;
  margin: 0;
}

.footer-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  bottom: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  color: var(--basic-black);
  background: rgba(255, 255, 255, 0.9);
  width: 1200px;
  height: 120px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 23px;
  padding-left: 117px;
}

.contact a {
  text-decoration: none;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 35px;
}

.social ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-network a {
  text-decoration: none;
  background-color: var(--basic-blue);
}
.social-tw {
  width: 46px;
  height: 46px;
}
/* не понимаю, как ссылки на соц сети сделать большими квадратами*/

.social a:hover {
  background-color: var(--special-blue);
}
.social a:focus {
  background-color: var(--special-dark-blue);
}

.website {
  display: flex;
  justify-content: center;
  padding-top: 38px;
}

.website p {
  padding-right: 8px;
}

.html-logo {
  width: 115px;
  height: 41px;
  background-image: url('/img/html-academy.svg'); /* возле изображения черная рамка, от куда она могла появиться*/
}

.website a:hover {
  background-image: url('../img/logo-htmlacademy-blue.svg');
}

.website a:focus {
  background-image: url('../img/logo-htmlacademy-gray.svg');
}

/* как сделать, что бы логотип html academy менял цвет при наведении и нажатии? */

/* hotels */

.checkbox-background {
  background-color: var(--basic-gray);
  background-image: url('../img/background-hotel.png');
  background-repeat: no-repeat;
  margin: 0;
  width: 1200px;
  min-height: 217px;
  display: flex;
}

.checkbox-comfort {
  border: none;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
}

.title-options {
  color: var(--basic-white);
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.checkbox-infra,
.checkbox-hotel,
.parameters-cost {
  padding-top: 26px;
}

.checkbox-comfort ul {
  list-style: none;
  padding-left: 0;
}

.checkbox-comfort li:not(:first-child) {
  padding-top: 25px;
}

.checkbox-infra {
  padding-left: 72px;
}

.checkbox-hotel {
  padding-left: 110px;
}

.check {
  padding-left: 35px;
}

.check-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-box {
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url('../img/checkbox-on.svg');
  margin-left: -38px;
}

.check-input:checked + .check-box {
  background-image: url('../img/checkbox-check-on.svg');
}

.check-input:disabled + .check-box {
  background-image: url('../img/checkbox-disabled.svg');
}

.check-input:checked:disabled + .check-box {
  background-image: url('../img/checkbox-check-disabled.svg');
}

.parameters-cost {
  position: relative;
  padding-left: 293px;
}

.cost {
  border: none;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
}

.cost-input {
  outline: none;
  border: none;
  text-align: center;
  font: inherit;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: inherit;
  margin: 0;
  padding: 0;
}

.number-cost {
  display: flex;
  justify-content: center;
  border: 2px solid;
  max-width: 224px;
  margin-top: 10px;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 52px;
  padding-right: 36px;
}

.number-cost::before {
  position: absolute;
  content: url('../img/white-line.svg');
  z-index: 1;
  width: 2px;
  height: 22px;
  right: 170px;
}

.sorting-search {
  display: flex;
  justify-content: left;

  background-color: var(--basic-white);
  color: var(--basic-blac);
  font-size: 12px;
  line-height: 18px;
  width: 1200px;

  border-bottom: 2px solid var(--special-background-gray);
}

.sorting-title {
  list-style: none;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding-left: 85px;
  margin-top: 29px;
  margin-bottom: 31px;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  padding-top: 31px;
  padding-left: 46px;
}

.sorting-search ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 31px;
  padding-left: 40px;
}
.sorting-search li {
  padding-right: 32px;
}

.sorting-search a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-blue);
}
.sorting-search a:hover {
  color: var(--basic-blue);
  border-bottom: 1px dotted var(--basic-blue);
}
.sorting-search a:focus {
  color: var(--basic-blue);
  border: none;
}
.sorting-search a:active {
  color: var(--basic-black);
}

.cursor ul {
  list-style: none;
}

.hotels {
}

.hotels-item {
  display: flex;
  border-bottom: 2px solid var(--special-background-gray);
}

.hotel-image {
  border-color: var(--basic-gray);
  padding: 30px;
}

/* .hotels-description {} */

/* .hotels-rating {} */
/* span */

/* я запуталась=((( */
